.header {
	text-align: center;
	border-bottom: dashed white;
}

body {
	background-color: coral;
	color: aliceblue;
}

.container {
	width: 60%;
	margin: 25px auto;
	padding: 20px;
	overflow: auto;
	background-color: cornflowerblue;
}

#result {
	background-color: coral;
	margin: 10px;
	text-align: center;
}

.footer {
	text-align: center;
}

.header p {
	color: black;
}

.submit_button {
	background-color: coral;
	color: aliceblue;
	cursor: pointer;
	border: 0;
}